//INTRO
.intro__ware {
  text-decoration: none;
  color: #fff;
}

//PRODUCT
.product {

  &__caption {
    text-transform: uppercase;
    color: #63d1bb;
  }
}


//CATALOG
.catalog {

 &__product-title {
    font-size: 20px;
  }
}
