//VARIABLES
@openSans: 'Open Sans', Arial, Helvetica, sans-serif;

@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1200px)";

// MIXINS

.btn() {
  display: block;
  text-align: center;
  border: 2px solid #444;
  padding-top: 18px;
  padding-bottom: 18px;
  text-transform: uppercase;
  text-decoration: none;
  .font(1.7rem; #444; @openSans; 600);
}

.inner() {
  padding-left: 30px;
  padding-right: 30px;
}


.input-text() {
    display: block;
    border: none;
    border-bottom: 2px solid #000;
    padding-bottom: 15px;
}

.font(@size; @color; @family; @weight; @line-height: 1) {
  font-size: @size;
  color: @color;
  line-height: @line-height;
  font-family: @family;
  font-weight: @weight;
}

.container() {
  width: 320px;
  margin: 0 auto;

  @media @tablet-width {
    width: 640px;
  }

  @media @desktop-width {
    width: 960px;
  }
}

