//VARIABLES
@openSans: 'Open Sans', Arial, Helvetica, sans-serif;

@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 1200px)";

// MIXINS

.clearfix() {
  content: "";
  display: table;
  clear: both;
}

.btn() {
  display: block;
  max-width: 260px;
  margin: auto;

  padding-top: 16px;
  padding-bottom: 16px;

  border: 2px solid #444;

  .font(1.7rem; #444; @openSans; 600);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.inner(@pl: 30px, @pr: 30px) {
  padding-left: @pl;
  padding-right: @pr;
  max-width: 1050px;
  margin: auto;
}

.input-text() {
    display: block;
    border: none;
    border-bottom: 2px solid #000;
    padding-bottom: 15px;
}

.font(@size; @color; @family; @weight; @line-height: 1) {
  font-size: @size;
  color: @color;
  font-family: @family;
  font-weight: @weight;
  line-height: @line-height;
}


.bot-border--wave() {
  content: '';
  display: block;
  height: 10px;
  background: url(../img/wave-border.png) repeat-x 50%;
}
