.catalog {

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    background-color: #f1f1f1;
  }

  &__inner {
    .inner();
  }

  &__product {
    margin-bottom: 30px;
  }

  &__product-details {
    border: 1px solid #ededed;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 30px;
    padding-bottom: 30px;

  }

  &__product-title {
    margin: 0;
    margin-bottom: 17px;
  }

  &__product-descr {
    padding-bottom: 27px;
    margin-bottom: 27px;
    border-bottom: 1px solid #ededed;
  }
}
