.catalog {
  margin-bottom: 30px;
}

.catalog__inner {
  .inner();
}

.catalog__product {
  margin-bottom: 30px;
}

.catalog__product-img {
  display: block;
  margin: auto;
}

.catalog__product-details {
  border: 1px solid #ededed;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog__product-title {
  margin: 0;
  margin-bottom: 17px;
}

.catalog__product-descr {
  margin-bottom: 27px;
}

.catalog__product-price {
  display: block;
  padding-top: 20px;
  border-top: 1px solid #ededed;

  &:after {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../img/icon-cart.svg) no-repeat 50%;
    float: right;
    margin-top: -3px;
  }
}


@media @tablet {

  .catalog {
    margin-bottom: 30px;
  }

  .catalog__inner {
    .inner(50px, 50px);
  }

  .catalog__product {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .catalog__picture {
    margin: 0;
    width: 333px;
    height: 334px;
  }

  .catalog__product-details {
    margin: 0;
    width: 300px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
  }

  .catalog__product-price {
    margin-top: auto;
  }
}


@media @desktop {

  .catalog {
    margin-bottom: 55px;
  }

  .catalog__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__product {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;

    width: 316px;
  }

  .catalog__picture {
    width: 316px;
    height: 462px;
  }

  .catalog__product-details {
    width: 260px;
  }

  .catalog__product-img {
    display: block;
  }
}
