.contact {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
}

.contact__inner{
  .inner();
}

.contact__details {
  margin: auto;
  margin-bottom: 40px;
}

.contact__map {
  min-height: 458px;
  margin-bottom: 40px;

  background: url(../img/map-mobile@1x.jpg) no-repeat 50%;
  background-size: cover;
}

.contact__write-btn {
  .btn();
}
