.intro{

  &__title-wrap {
    padding-top: 60px;
    padding-bottom: 60px;
    background: url(../../img/hero-mobile@1x.jpg) no-repeat 50%;
  }

  &__title {
    margin: 0;
    text-align: center;
  }

  &__ware {
    display: block;
    padding: 30px;

    &-interior {
      background: #63d1bb url(../../img/icon-interior.svg) no-repeat 85% 50%;
    }
    &-toys {
      background: #56c3b2 url(../../img/icon-toy.svg) no-repeat 87% 50%;
    }
  }

}
