.intro__free-delivery {
  display: none;
}

.intro__title-wrap {
  padding-top: 70px;
  padding-bottom: 120px;
  background: url(../img/hero-mobile@1x.jpg) no-repeat 50% 25%;
  background-size: cover;
}

.intro__title {
  margin: 0;
  text-align: center;
}

.intro__ware {
  display: block;
  padding: 30px;
}

.intro__ware-interior {
  background: #63d1bb url(../img/icon-interior.svg) no-repeat 85% 50%;
}

.intro__ware-toys {
  background: #56c3b2 url(../img/icon-toy.svg) no-repeat 87% 50%;
}


