.order { margin-bottom: 55px; }

.order__inner { .inner(); }

.order__descr { margin-bottom: 25px; }


//TABLET

@media @tablet {

  .order__inner { .inner(50px, 50px); }

}



@media @desktop {

  .order__inner { width: 815px; }

  .order__descr { padding-left: 115px; }
}
