.order {
  margin-bottom: 55px;
}
.order__inner {
  .inner();
}

.order__descr {
  margin-bottom: 30px;
}


.form__item {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    border: none;

    &:last-of-type{margin-bottom: 18px;}
  }

.form__legend {
  margin-bottom: 23px;

  &:after {
    content: '';
    display: inline-block;
    vertical-align: top;
    height: 1px;
    width: 120px;
    background-color: #62d1ba;
    margin-top: 8px;
    margin-left: 27px;
  }
}

.form__radio-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__radio-item {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;

  &:last-child {margin-bottom: 0;}
}

.form__label-name {
  display: block;
  margin-bottom: 20px;
}

.form__input-name {
  .input-text();
  margin-bottom: 25px;

  &:last-child {margin-bottom: 0;}
}

.form__tel {.input-text();}

.form__email {.input-text();}

.form__textarea {
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #444;
  display: block;
  resize: none;
}

.form__required-descr {
  margin: 0;
  margin-bottom: 30px;
}

.form__submit {
  .btn();
  background-color: transparent;
  display: block;
  width: 100%;
}


@media @tablet {

  .order__inner {
    .inner(50px, 50px);
  }

  .form__inner {
    .inner(50px, 50px);
    position: relative;

    padding-bottom: 50px;
    padding-top: 50px;
  }

  .form__item:nth-child(2n+2) {
    background-color: #f1f1f1;
  }

  .form__legend {
    position: absolute;
    top: 50px;

    &:after{display: none;}
  }

  .form__radio-list {
    padding-left: 167px;
  }

  .form__color-list {
    width: 465px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .form__color-item {
    min-width: 200px;
  }
}
