body {
  width: 320px;
  margin: 0 auto;
  outline: 1px solid black;
}

.page-header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background: #fff;
}

.logo {
  display: block;
  font-size: 0;
  width: 95px;
  height: 40px;
  margin: 0 auto;
  background: url(../../img/logo-mobile.svg) no-repeat;
}

.page-header__nav--closed {
  width: 20px;
  height: 15px;
  background: url(../../img/icon-menu-open.svg) no-repeat;
  float: right;
  margin-right: 30px;
  margin-top: 8px;

  ul {
    display: none;
  }
}
