.page-header {
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background: #fff;
  position: relative;
}

.page-header__inner {
  .inner();
}

.logo {
  display: block;
  width: 89px;
  height: 35px;
  margin: 0 auto;
}


/* MEDIA TABLET */

@media @tablet {

  .page-header {
    min-height: 88px;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
  }

  .page-header__inner {
    .inner(50px, 50px);
  }

  .logo {
    float: left;
    margin-top: 25px;
  }
}

@media @desktop {

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 150px;
    height: 80px;

    margin: 0;
    margin-top: -35px;
    margin-left: -75px;
  }
}
