.page-header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background: #fff;
  position: relative;
}

.logo {
  display: block;
  font-size: 0;
  width: 95px;
  height: 40px;
  margin: 0 auto;
  background: url(../img/logo-mobile.svg) no-repeat;
}

.nav {
  position: absolute;
  width: 100%;
  top: 80px;

  &__btn {
    width: 21px;
    height: 21px;
    position: absolute;
    top: -56px;
    right: 30px;
    font-size: 0;
    cursor: pointer;

    &--open {background: url(../img/icon-menu-open.svg) no-repeat 50%;}

    &--closed {background: url(../img/icon-menu-close.svg) no-repeat 50%;}
  }

  &__list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }

  &__item {
    display: block;
    border-top: 1px solid #ececec;

    &:last-child {border-bottom: 1px solid #ececec;}
  }

  &__link {
      display: block;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 25px;
    }
}
