.product {
  margin-bottom: 35px;
}

.product__inner {
  .inner();
  padding-top: 30px;
}

.product__title {
  margin: 0;
  margin-bottom: 5px;
}

.product__caption {
  margin-bottom: 15px;
}

.product__descr-wrap:after {
  .clearfix();
}

.product__descr {
  margin-bottom: 35px;
}

.product__details {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}

.product__img {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.product__price {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

.product__order-btn {
  .btn();
}

.product__caption-br {
  display: none;
}


/* MEDIA */

@media @tablet {

  .product__inner {
    .clearfix();
    .inner(50px, 50px);
    padding-top: 55px;
  }

  .product__title-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
  }

  .product__caption {
    min-width: 165px;
    text-align: center;
    margin-bottom: 0;

    padding-top: 10px;
    padding-bottom: 10px;
  }

  .product__caption-br {
    display: block;
  }

  .product__img {
    float: right;

    width: 333px;
    height: 404px;
  }

  .product__price-wrap {
    width: 295px;
  }

  .product__descr-wrap {
    width: 45%;
    float: left;
  }

  .product__descr {
    margin-bottom: 55px;
    margin-top: 0;
  }

  .product__details-cell {
    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid #ececec;
  }
}

@media @desktop {

  .product__title-wrap {
    justify-content: flex-start;
  }

  .product__caption {
    order: -1;
  }

  .product__descr-wrap {
    width: 30%;
    padding-left: 165px;
    margin-bottom: 100px;
  }

  .product__price-wrap {
    margin-left: 165px;
  }

  .product__img {
    width: 500px;
    height: 515px;
  }
}
