.product {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 35px;

  &__title {
    margin: 0;
    margin-bottom: 5px;
  }

  &__caption {
    margin-bottom: 15px;
  }

  &__descr {
    margin-bottom: 35px;
  }
}


.product__details {
  text-align: left;
  margin-bottom: 30px;
}


.product__img {
  margin-bottom: 30px;
}


.product__price {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}


.product__order-btn {
  .btn();
}
