.product {
  margin-bottom: 35px;

  &:after {
    content: '';
    display: block;
    height: 15px;
    background: url(../img/wave-border__mobile.png) repeat-x 50%;

    margin-top: 35px;
  }
}

.product__inner { .inner(); }

.product__title-wrap { margin-bottom: 25px; }

.product__title {
  margin: 0;
  margin-bottom: 5px;
}

.product__caption { margin-bottom: 15px; }

.product__descr {
  margin: 0;
  margin-bottom: 15px;
}

.product__details {
  text-align: left;
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;
}

.product__details-cell {
  padding-top: 13px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ececec;
}

.product__descr-pic {
  display: block;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
}

.product__price {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

.product__order-btn { .btn(); }

.product__caption-br { display: none; }

.product__pic { display: none; }


/* MEDIA */

@media @tablet {

  .product {
    margin-bottom: 58px;

    &:after {
      background: url(../img/wave-border__tablet.png) repeat-x 50%;
      margin-top: 52px;
    }
  }

  .product__inner {
    .inner(50px, 50px);
  }

  .product__title-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
  }

  .product__caption {
    min-width: 125px;
    text-align: center;
    margin-bottom: 0;

    padding-top: 10px;
    padding-bottom: 10px;
  }

  .product__caption-br { display: block; }

  .product__descr-wrap { margin-right: 43px; }

  .product__details { margin-bottom: 60px; }

  .product__descr-pic { display: none; }

  .product__pic { display: block; }

  .product__img {
    width: 333px;
    height: 405px;
  }

  .product__l-flex {
    display: flex;
    justify-content: space-around;
  }

  .product__descr {
    margin-bottom: 50px;
    margin-top: 0;
  }

  .product__details-cell {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
  }

  .product__price { margin-bottom: 35px; }
}

@media @desktop {

  .product__title-wrap { justify-content: flex-start; }

  .product__title { padding-left: 35px; }

  .product__caption { order: -1; }

  .product__l-flex { padding-left: 165px; }

  .product__details { margin-bottom: 100px; }

  .product__img {
    width: 500px;
    height: 515px;
  }
}
