.production {
  margin-bottom: 58px;
}

.production__inner {
  .inner();
}

.production__title {
  margin: 0;

  border: 1px solid #ececec;

  padding-left: 75px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: url(../img/icon-video.svg) no-repeat 25px 50%;
}

.production__video {
  display: block;
  margin: auto;
  background-image: url(../img/video-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .production__video {
    background-image: url(../img/video-mobile@2x.jpg);
  }
}

.production__descr-wrap {
  border: 1px solid #ececec;
  border-top: none;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.production__descr-wrap .production__title {
    display: none;
  }

.production__descr {
  margin: 0;
  margin-bottom: 30px;
}

.production__order-btn {
  .btn();
}


@media @tablet {

  .production__inner {
    .inner(50px, 50px);

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .production {
    margin-bottom: 63px;
  }

  .production__title-br {
    display: none;
  }

  .production__title {
    order: 1;
    border-bottom: none;
    padding-bottom: 25px;

  }

  .production__descr-wrap {
    padding-top: 15px;
    order: 2;
    padding-top: 0;
  }

  .production__video {
    width: 667px;
    height: 455px;

    background-image: url(../img/video-tablet@1x.jpg);
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .production__video {
      background-image: url(../img/video-tablet@2x.jpg);
    }
  }

  .production__descr {
    margin-bottom: 40px;
  }

  .production__order-btn {
    max-width: 580px;
    margin: auto;
  }
}


@media @desktop {

  .production {
    margin-bottom: 105px;
  }

  .production__inner {
    flex-direction: row;
  }

  .production__title {
    display: none;
  }

  .production__video {
     width: 70%;
     height: 456px;
    background-image: url(../img/video-desktop@1x.jpg);
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .production__video {
      background-image: url(../img/video-desktop@2x.jpg);
    }
  }

  .production__descr-wrap {
    border-top: 1px solid #ececec;
    width: 30%;

    padding-left: 77px;
    padding-right: 55px;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .production__descr-wrap .production__title {
    display: block;
    border: none;
    padding-top: 55px;
    padding-left: 0;
    background-position: left top;
  }
}


